<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <appSettings>
    <add key="ProtocolToSFTP" value="Protocol.Sftp"/>
    <!--protocolo de transmision con Dataimagenes-->
    <add key="PortNumber" value="22"/>
    <add key="PassworDataImagenes" value="P@g$$f3ct1v$"/>
    <!--Password to acces to SFTP from DataImagenes-->
    <add key="UserNameDataImagenes" value="pagoefectivo"/>
    <!--Usuario DataImagenes-->
    <add key="HostNameDataImagenes" value="190.81.45.62"/>
    <!--Nombre del servidor DataImagenes-->
    <add key="SshHostKeyFingerprintDataImagenes" value="ssh-rsa 2048 6d:1b:c8:97:e7:93:62:84:0c:24:bd:b4:e7:1b:46:51"/>
    <!--Credenciales llaves-->
    <add key="SshPrivateKeyPathDataImagenesConfiguration" value="C://Users//user//Desktop//pagoefectivo.ppk"/>
    <!--Ruta de la configuracion acceso a dataimages  statico-->
    <add key="SshPrivateKeyPassphraseDataImages" value="P@g$$f3ct1v$"/>
    <!--PassPhrase to generate new KeyPhrases to Dataimgenes SFTP-->
    
    <add key="LocalPathTosaveFiles" value="F:\ValidarDataimages\Salida"/>
    <!--Ruta local donde se guardara las respuestas de DataImagenes-->
    <add key="LocalPathToPutFiles" value="F:\ValidarDataimages\Entrada"/>
    <!--Ruta local  de donde se enviara los nuevos archivos   as respuestas de DataImagenes-->
    
    <add key="PathFTPServerSalida" value="/home/dataimagenes/pagoefectivo/home/pagoefectivo/SALIDA/"/>
    <!--Ruta donde se aloja las respuestas de DataImages-->
    <add key="PathFTPServerEntrada" value="/home/dataimagenes/pagoefectivo/home/pagoefectivo/ENTRADA/"/>


    <!--Connfiguracion para Mailing -->
    <!--Connfiguracion para Mailing -->
    <!--Connfiguracion para Mailing -->
    <!--Connfiguracion para Mailing -->
    <add key="CorreoGmailOrigen" value="pillihuamanhz@gmail.com"/>
    <add key="Puerto" value="587"/>
    <add key="NetworkCredencialPass" value="DEZA19881988"/>
    <add key="NetworkCredencialUser" value="pillihuamanhz@gmail.com"/>
    <!--Connfiguracion para Mailing -->
    <!--Connfiguracion para Mailing -->


  </appSettings>

  <connectionStrings>
    <add name="cnBD" connectionString="Data Source=localhost;Initial Catalog=Nuevo_PEV;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="cnBD" connectionString="Data Source=184.73.175.131,50789;Initial Catalog=rpl_DBPagoEfectivoWallet;Integrated Security=True ;User=usr_zpillihuaman; Password=Anagramas2016" />-->

  </connectionStrings>


  


</configuration>